<div class="post">
  <div class="header">
    <h2>Posttit</h2>

    <button routerLink="/" class="btn btn-link">Home</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>3300</small>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      provident inventore eos, est id ipsum, fuga eaque optio magni possimus
      accusamus? Perspiciatis quod ratione soluta minus, vel corrupti labore
      numquam quidem voluptas quisquam mollitia consequuntur incidunt! Ducimus
      explicabo natus unde iste perferendis vero nostrum laboriosam vel, itaque
      nesciunt accusantium aut!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      provident inventore eos, est id ipsum, fuga eaque optio magni possimus
      accusamus? Perspiciatis quod ratione soluta minus, vel corrupti labore
      numquam quidem voluptas quisquam mollitia consequuntur incidunt! Ducimus
      explicabo natus unde iste perferendis vero nostrum laboriosam vel, itaque
      nesciunt accusantium aut!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      provident inventore eos, est id ipsum, fuga eaque optio magni possimus
      accusamus? Perspiciatis quod ratione soluta minus, vel corrupti labore
      numquam quidem voluptas quisquam mollitia consequuntur incidunt! Ducimus
      explicabo natus unde iste perferendis vero nostrum laboriosam vel, itaque
      nesciunt accusantium aut!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      provident inventore eos, est id ipsum, fuga eaque optio magni possimus
      accusamus? Perspiciatis quod ratione soluta minus, vel corrupti labore
      numquam quidem voluptas quisquam mollitia consequuntur incidunt! Ducimus
      explicabo natus unde iste perferendis vero nostrum laboriosam vel, itaque
      nesciunt accusantium aut!
    </p>
  </div>
</div>
